html {
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

#layout {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#sidebar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 1000;
    background: white;
}
#sidebar.sidebar-open {
    display: flex;
    flex-direction: column;
}

#sidebar-controls {
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
}
#sidebar-controls.sidebar-open {
    right: 300px;
}

.sidebar-control {
    margin-right: 0px;
    margin-top: 10px;

    background-color: rgba(0,0,0,0.6);
    text-align: center;
}

.sidebar-control.active {
    background-color: hsl(204, 86%, 53%);
}

.sidebar-control-button {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
}

.sidebar-container {
    display: none;
    width: 100%;
}

.sidebar-container.active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* for Firefox */
    min-height: 0;
}

.sidebar-container > .header {
    padding: 10px 20px;
    background-color: hsl(204, 86%, 53%);
    color: #ffffff;
}
.sidebar-container > .header > .close {
    float: right;
    cursor: pointer;
}
.sidebar-container > .header > h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar-container > .content {
    margin: 8px;
}

.sidebar-container > .scrollable-content {
    flex-grow: 1;
    overflow: auto;

    /* for Firefox */
    min-height: 0;
}

#markers {
    list-style: none;
    padding: 0;
    display: block;
}

.marker {
    align-items: stretch;
    display: flex;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.marker > .marker-left {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.marker > .marker-left > .marker-color{
    width: 16px;
    height: 100%;
    margin-left: 1px;
    margin-right: 4px;
}
.marker > .marker-center {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}
.marker > .marker-center > .marker-name {
    font-weight: bold;
}
.marker > .marker-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

#lines {
    list-style: none;
    padding: 0;
    display: block;
}

.line {
    align-items: stretch;
    display: flex;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.line > .line-left {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.line > .line-left > .line-color{
    width: 16px;
    height: 100%;
    margin-left: 1px;
    margin-right: 4px;
}
.line > .line-center {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}
.line > .line-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.edit {
    display: none;
    padding: 8px;
}

.edit.show-edit {
    display: block;
}

.map-container {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}
.map-container.sidebar-open {
    right: 300px;
}

.buttons.has-addons.is-vertical {
    flex-direction: column;
}

.buttons.has-addons.is-vertical .button {
    margin-bottom: .5rem;
    margin-right: 0px;
    border-radius: 4px;
}

.buttons.has-addons.is-vertical .button:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.buttons.has-addons.is-vertical .button:not(:last-child) {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.buttons.has-addons.is-vertical .button i {
    width: 12px;
}
