@import 'config.scss';

#notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: $sidebar_width;
    z-index: $z_index_notifications;
    pointer-events: none;
    padding: 4px;
}

.notification {
    margin-bottom: 4px !important;
    pointer-events: auto;
}

.notification-fadeOut {
    animation-name: NotificationOut;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
}


@keyframes NotificationIn {
    from {
        transform: translate3d($sidebar_width, 0, 0);;
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
  
@keyframes NotificationOut {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d($sidebar_width, 0, 0);
        opacity: 0;
    }
}
