RewriteEngine on

RewriteBase /

Redirect /safari https://safari.flopp.net

RewriteRule ^index.php$ /
RewriteRule ^beta.php$ /
RewriteRule ^map.php$ /

<filesMatch "\.(html|json)$">
    Header set Cache-Control "no-cache, max-age=0, must-revalidate"
</filesMatch>
